*.o
*.lo
.deps
.libs
configure
shellyd
*.swp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure~
depcomp
install-sh
libshelly.la
libtool
ltmain.sh
missing
shellyd.8
shellyd.config.5
stamp-h1

