{
	"cloud": {
		"url": "https://shelly-209-eu.shelly.cloud",
        	"endpoint": "/v2/devices/api/get",
        	"key": "MzZlNDQwdWlkF605193D617BE7552074F20C4BAFCBA30B854FB7A3EFFA5FF7036BED3CDFD08640C8AF52D5F0E72A",
		"timeout": 5
	},
	"database": {
		"hostname":	"ferdinand.othello.ch",
		"port":		3307,
		"dbname":	"meteonew",
		"username":	"meteoupdate",
		"password":	"Private-4711"
	},
	"devices": [
		{
			"id":		"54320457a234",
			"station":	"Bubental",
			"sensor":	"shelly1"
		},
		{
			"id":		"54320457a250",
			"station":	"Bubental",
			"sensor":	"shelly2"
		}
	]
}
